<div class="container my-4">

  <div class="col-lg-12  col-md-12 col-sm-12">
    <div class="table-responsive">
        <table class="table table-hover col-12 table-dark">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Destacado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of productos">
                <td>{{p.nombre}}</td>
                <td >{{p.descripcion}}</td>
                <td>$ {{p.precio}}</td>
                <td>{{p.stock}}</td>
                <td>{{p.destacado}}</td>
                <td>
                  <button (click)="modificarProducto(p)" class="btn btn-warning mx-1 my-1"><i class="bi bi-pencil-square"></i></button>
                  <button (click)="eliminarProducto(p)" class="btn btn-danger mx-1 my-1"><i class="bi bi-trash"></i></button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>

</div>
</div>
