<div class="container bg-success mt-4">
  <article class="d-flex flex-wrap">
    <div class="card mx-3 my-3" style="width: 18rem;" *ngFor="let p of productos">
      <img src="{{p.imagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{p.nombre}}</h5>
        <p class="card-text">{{p.descripcion}}</p>
        <p class="card-text">$ {{p.precio}}</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </article>
</div>
