<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" style="height: 70px;" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" [routerLink]="['gimnasio']">Gimnasio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <button class="nav-link" aria-current="page" href="" [routerLink]="['mostrar-productos-destacados']">Productos Destacados</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" aria-current="page" href="" [routerLink]="['listado-productos']">Listado Productos</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" aria-current="page" href="" [routerLink]="['guardar-producto']">Cargar Productos</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" aria-current="page" href="" [routerLink]="['calendar']">Calendario</button>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transacciones
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <button class="nav-link" aria-current="page" href="" [routerLink]="['cargar-transaccion']">Cargar Transaccion</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" aria-current="page" href="" [routerLink]="['mostrar-transacciones']">Mostrar Transacciones</button>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tickets
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <button class="nav-link" aria-current="page" href="" [routerLink]="['mostrar-tickets']">Mostrar Tickets</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" aria-current="page" href="" [routerLink]="['form-ticket/0']">Cargar Ticket</button>
            </li>
          </ul>
        </li>
        <div>
          <!-- <a *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">(Login)</a>
          <a *ngIf="loginService.userLoggedIn()" [routerLink]="['login']" (click)="logout()"> {{loginService.userLogged()}} (logout) </a>  -->
          <a class="navbar-brand" *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">Login</a>
          <a class="navbar-brand" *ngIf="loginService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">{{loginService.userLogged()}} (logout)</a>
        </div>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
